@import "tailwindcss";

@layer components {
    .markdown > * {
        margin-top: 1rem;
    }
}

@theme {
    --color-*: initial;

    --color-black: #000000;
        --color-white: #ffffff;
        --color-primary: #24608a;
        }
