---
layout: page
title: Zettelkasten for Oliver Davies (opdavies)
use: [zets]
---

<ul>
  {% for zet in data.zets %}
    <li>
      <a href="{{ zet.url|trim('/', 'right') }}">
        {{- zet.date|date }}: {{ zet.title -}}
      </a>
    </li>
  {% endfor %}
</ul>
